*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/****utili****/
.content{
    height: 100vh;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(20, 25, 34, 1);
}
.header {
    width: 87%;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    left: 205px;
    background-color:rgba(8, 11, 18, 1) ;
    padding: 1.5rem;
}
.sidebar {
    height: 90%;
    width: 15%;
    position: fixed;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
}
.footer {
    height: 10%;
    width: 100%;
    display: flex;
    position: fixed;
    top: 90%;
    background-color: rgba(40, 40, 40, 1);
}

/****header****/
.upgrade {
    height: 30px;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 20px;
    padding: 7px 28px;
    font-size: 14px;
}

/****sidebar****/

.logo {
    width: 50%;
    margin-bottom: 2rem;
}
.opzioni {
    width: 8%;
}
.icon{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.icon p {
    color:rgba(113, 113, 113, 1) ;
    margin-left: 15px;
    margin-top: auto;
}
.text {
    color: white;
    margin-left: 5px;
    margin-top: auto;
}
.playlist {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}
.playlist h3 {
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
}
.fa-plus-square {
    color: rgba(163, 163, 163, 1);
    font-size: 40px;
}
.crea {
    margin: auto;
}
.lista p {
    color: rgba(113, 113, 113, 1) ;
    margin-top: 1rem;
}
.fa-arrow-circle-down {
    color: rgba(113, 113, 113, 1);
}
.divisorio{
    display: block;
    margin: 1rem;
    width: 135px;
}
.profilo {
    width: 15%;
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 1);
}
.icon h1 {
    color: white;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 1rem;
}
/***footer***/
.left {
    display: flex;
    align-items: center;
}
.left img {
   height: 45px;
}
.sinister {
    margin-left: 1rem;
}
.sinister h4 {
    color: white;
}
.sinister p {
    color:rgba(113, 113, 113, 1) ;
    font-size: 13px;
}
.preferiti {
    margin-left: 3rem;
}
.preferiti i {
    color: rgba(112, 112, 112, 1);
    margin-right: 1rem;
}