*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/****utili****/
body{
    background-color: black;
}
.fullPage{
    /* display: flex;
    flex-flow: column-reverse; */
    height: 100vh;
}
.footer{
    background-color:rgba(40, 40, 40, 1);
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 00.5rem;

}
.no-footer{
    background-color: red;
    height: calc(100% - 80px);
    display: flex;
    overflow: hidden;
}
.sidebar{
    background-color: rgba(0, 0, 0, 1);
    width: 200px;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.no-sidebar{
    background-color: green;
    width: calc(100% - 200px);
    height: 100%;
}
.header{
    background-color: rgba(8, 11, 18, 1);
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.main{
    background-color: rgba(20, 25, 34, 1);
    height: calc(100% - 100px);
    overflow-y: scroll;
}

/****sidebar****/

.logo {
    width: 110px;
    margin-bottom: 2rem;
}
.icon{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.opzioni {
    width: 20px;
}
.icon p {
    color: rgba(89, 89, 89, 1);
    margin-left: 10px;
}
.icon h5 {
        color: white;
        font-size: 14px;
        margin-left: 10px;
}
.playlist h3 {
    color: white;
    font-size: 13px;
    margin-bottom: 1rem;
}
.fa-plus-square {
    color: rgba(163, 163, 163, 1);
    font-size: 35px;
}
.lista p {
    color: rgba(94, 94, 94, 1);
    font-size: 13px;
    margin-top: 10px;
}
.fa-arrow-circle-down {
    font-size: 15px;
    color: white;
}
.profilo {
    width: 20px;
    background-color: rgba(128, 128, 128, 1);
    border-radius: 20px;
}
.icon h1 {
    color: white;
    font-size: 15px;
    margin-left: 10px;
}
.divisorio{
    padding: 10px;
}
/***header***/
.upgrade{
    text-decoration: none;
    color: white;
    border: 1px solid;
    border-radius: 20px;
    padding: 0.5rem 1rem;
}

/***footer***/
/**left**/
.left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left img {
    width: 50px;
}
.sinister{
    margin-left: 10px;
}
.sinister h4 {
    color: white;
}
.sinister p {
color: rgba(94, 94, 94, 1);
}
.preferiti {
    margin-left: 3rem;
    color: rgba(89, 89, 89, 1);
}
/**center**/
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.down {
    display: flex;
    align-items: center;
}
.down p {
    color: white;
    font-size: 10px;
    padding: 0rem 1rem;
}
.canzone {
    background-color: rgba(90, 90, 90, 1);
    width: 300px;
    height: 5px;
    border-radius: 20px;
}
.volume {
    background-color: white;
    width: 50px;
    height: 5px;
    border: 20px;
}
.up {
    display: flex;
    justify-content: center;
     margin: 5px;
}
.up i {
    margin-left: 30px;
    font-size: 25px;
    color: rgba(255, 255, 255, 1);
}
/***right***/
.right {
    display: flex;
    justify-content: end;
    align-items: center;
}
.right i {
    color: white;
    margin-right: 1rem;
}
.audio{
    height: 5px;
    width: 100px;
    background-color:rgba(90, 90, 90, 1) ;
}