*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/****utili****/
body{
    font-family: 'Montserrat', sans-serif;;
    background-color: black;
}
.fullPage{
    /* display: flex;
    flex-flow: column-reverse; */
    height: 100vh;
    width: 100%;
    overflow-x: auto;
}
.footer{
    background-color:rgba(40, 40, 40, 1);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 00.5rem;
    overflow-y: auto;

}
.no-footer{
    background-color: red;
    height: calc(100% - 80px);
    display: flex;
    overflow: hidden;
}
.sidebar{
    background-color: rgba(0, 0, 0, 1);
    width: 200px;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.no-sidebar{
    background-color: green;
    width: calc(100% - 200px);
    height: 100%;
}
.header{
    background-color: rgba(8, 11, 18, 1);
    height: 80px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.main{
    background-color: rgba(20, 25, 34, 1);
    height: calc(100% - 80px);
    overflow-y: scroll;
    padding: 1rem;
}

/****sidebar****/

.logo {
    width: 110px;
    margin-bottom: 2rem;
}
.menu {
    overflow-y: auto;
}
.icon{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.border {
    border-left: solid rgba(151, 223, 41, 1);
}
.margin {
    margin-left: 1rem;
}
.opzioni {
    width: 20px;
}
.icon p {
    color: rgba(89, 89, 89, 1);
    margin-left: 10px;
    transition: 1s;
}
.icon p:hover {
    color: white;
}
.icon h5 {
        color: white;
        font-size: 14px;
        margin-left: 10px;
}
.playlist h3 {
    color: white;
    font-size: 13px;
    margin-bottom: 1rem;
}
.fa-plus-square {
    color: rgba(163, 163, 163, 1);
    font-size: 35px;
    transition: 1s;
}
.fa-plus-square:hover {
    color: white;
}
.lista p {
    color: rgba(94, 94, 94, 1);
    font-size: 13px;
    margin-top: 10px;
    transition: 1s;
}
.lista p:hover {
    color: white;
}
.fa-arrow-circle-down {
    font-size: 15px;
    color: white;
}
.profilo {
    width: 20px;
    background-color: rgba(128, 128, 128, 1);
    border-radius: 20px;
}
.icon h1 {
    color: white;
    font-size: 15px;
    margin-left: 10px;
}
.divisorio{
    padding: 10px;
}
/***header***/
.upgrade{
    text-decoration: none;
    color: white;
    border: 1px solid;
    border-radius: 20px;
    padding: 0.5rem 1rem;
    transition: 1s;
}
.upgrade:hover {
    width: 300px;
    font-size: 15px;
    padding: 0.5rem 3rem;
}

/***footer***/
/**left**/
.left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left img {
    width: 50px;
}
.sinister{
    margin-left: 10px;
}
.sinister h4 {
    color: white;
}
.sinister p {
color: rgba(94, 94, 94, 1);
font-size: 12px;
transition: 1s;
}
.sinister p:hover {
    border-bottom: 1px solid white
}
.preferiti {
    margin-left: 1rem;
    color: rgba(89, 89, 89, 1);
    transition: 1s;
}
.preferiti:hover {
    color: white;
}
/**center**/
.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.down {
    display: flex;
    align-items: center;
    position: relative;
}
.down p {
    color: white;
    font-size: 10px;
    padding: 0rem 1rem;
}
.canzone {
    background-color: rgba(90, 90, 90, 1);
    width: 300px;
    height: 5px;
    border-radius: 20px;
}
.volume {
    background-color: white;
    width: 50px;
    height: 5px;
    border-radius: 20px;
    transition: 1s;
}
.volume:hover {
    background-color:rgba(151, 223, 41, 1) ;
}
.circle {
    opacity: 0;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 1px;
    left: 100px;
    border-radius: 10px;
    background-color: white;
    transition: 1s;
}
.circle:hover {
    opacity: 1;
}
.fa-play-circle:hover {
    font-size: 30px;
}
.up {
    display: flex;
    justify-content: center;
     margin: 5px;
}
.up i {
    margin-left: 30px;
    font-size: 25px;
    color: rgba(255, 255, 255, 1);
    transition: 1s;
}
/***right***/
.right {
    display: flex;
    justify-content: end;
    align-items: center;
}
.right i {
    color: white;
    margin-right: 1rem;
}
.audio{
    height: 5px;
    width: 100px;
    background-color:rgba(90, 90, 90, 1) ;
    position: relative;
}
.circle_two {
    opacity: 0;
    height: 10px;
    width: 10px;
    position: absolute;
    top: -2px;
    left: 49px;
    border-radius: 10px;
    background-color: white;
    transition: 1s;
}
.circle_two:hover {
    opacity: 1;
}

/***main***/
.main {
    display: flex;
    flex-direction: column;
}
.scelte{
    display: flex;
    justify-content: center;
}
.scelte ul {
    list-style: none;
    display: flex;
    color: rgba(125, 127, 132, 1);
    font-size: 15px;
}
.green {
    border-bottom: 1px solid rgba(151, 223, 41, 1);
}
.scelte li {
    margin-right: 1rem;
    transition: 1s;
}
.scelte li:hover {
    color: white;
}
.categoria h2 {
    color: white;
    margin-top: 3rem;
    font-size: 23px;
}
.song {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
}
.song img {
    width: 150px;
}
.song img:hover  {
    opacity: 0.5;
}
.immagini {
    height: 159px;
}
.immagini i {
    visibility: hidden;
    opacity: 0;
    position: relative;
    color: white;
    font-size: 40px;
    left: 36%;
    top: -100px;
}
.immagini:hover > i{
    visibility: visible;
    opacity: 1;
}
.song h5 {
    color: white;
}
.song p {
    color:rgba(94, 94, 94, 1) ;
    font-size: 12px;
}
.play {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.categoria p {
    color: rgba(94, 94, 94, 1);
    font-size: 11px;
    margin-top: 7px;
}
.suggeriti {
    display: flex;
    margin-top: 2rem;
}
.songround {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
    margin-top: 3rem;
}
.songround img {
    width: 150px;
    border-radius: 70px;
}
.songround h5 {
    color: white;
    margin: 5px;
}
.songround:hover {
    opacity: 0.5;
}
@media screen and (max-width: 480px) {
    
    .icon p, .icon h4, .lista p, .icon h5, .icon h1, .playlist h3, .fa-plus-square, .divisorio{
        display: none;
    }
    .sidebar {
        width: 55px;
    }
    .logo {
        width: 75px;
    }
    .no-sidebar {
        width: calc(100% - 55px);
    }
    .play {
        flex-wrap: wrap;
    }
    .left img {
        width: 30px;
    }
    .sinister h4 {
        font-size: 10px;
    }
    .sinister p {
    font-size: 8px;
    }
    .canzone {
        width: 150px;
    }
    .up i {
        margin-left: 2rem;
        font-size: 15px;
    }
    .right i {
        font-size: 10px;
        margin-right: 5px;
    }

    .scelte li {
        font-size: 7px;
        flex-wrap: wrap;
    }
    .suggeriti {
        flex-wrap: wrap;
    }
    .margin {
        margin-left: 0px;
    }
}
@media screen and (max-width:1024px) {
    
    .play {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}